.productspage-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.filter-button {
  margin-bottom: 5px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
}

.p-col-12,
.p-md-4,
.p-lg-3 {
  flex: 0 0 calc(30% - 20px);
  max-width: calc(33.33% - 20px);
}

.p-col-12:nth-child(3n+3) {
  margin-right: 0;
}

.product {
  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.03);
}
p-divider {
  width: 100%;
}

.filter-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
